@font-face {
  font-family: 'erxes';
  src: url('../font/erxes.eot?19640898');
  src: url('../font/erxes.eot?19640898#iefix') format('embedded-opentype'),
       url('../font/erxes.woff2?19640898') format('woff2'),
       url('../font/erxes.woff?19640898') format('woff'),
       url('../font/erxes.ttf?19640898') format('truetype'),
       url('../font/erxes.svg?19640898#erxes') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'erxes';
    src: url('../font/erxes.svg?19640898#erxes') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "erxes";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-adduser:before { content: '\e800'; }
.icon-alarm-2:before { content: '\e801'; }
.icon-alarm:before { content: '\e802'; }
.icon-alignleft:before { content: '\e803'; }
.icon-alignright:before { content: '\e804'; }
.icon-barchart:before { content: '\e805'; }
.icon-binoculars:before { content: '\e806'; }
.icon-bluetooth:before { content: '\e807'; }
.icon-bookmark:before { content: '\e808'; }
.icon-briefcase:before { content: '\e809'; }
.icon-brokenlink:before { content: '\e80a'; }
.icon-calculator:before { content: '\e80b'; }
.icon-calendar:before { content: '\e80c'; }
.icon-cancel:before { content: '\e80d'; }
.icon-chat:before { content: '\e80e'; }
.icon-check:before { content: '\e80f'; }
.icon-chevron:before { content: '\e810'; }
.icon-clicker:before { content: '\e812'; }
.icon-clip:before { content: '\e813'; }
.icon-cloud:before { content: '\e814'; }
.icon-cloudcomputing-2:before { content: '\e815'; }
.icon-cloudcomputing:before { content: '\e816'; }
.icon-compass:before { content: '\e817'; }
.icon-copy:before { content: '\e818'; }
.icon-creditcard:before { content: '\e819'; }
.icon-crop:before { content: '\e81a'; }
.icon-cube-1:before { content: '\e81b'; }
.icon-cursor:before { content: '\e81c'; }
.icon-cut-2:before { content: '\e81d'; }
.icon-export:before { content: '\e81e'; }
.icon-dashboard:before { content: '\e81f'; }
.icon-diagram:before { content: '\e820'; }
.icon-diamond:before { content: '\e821'; }
.icon-disabled:before { content: '\e822'; }
.icon-diskette:before { content: '\e823'; }
.icon-dislike:before { content: '\e824'; }
.icon-downarrow-2:before { content: '\e825'; }
.icon-downarrow-3:before { content: '\e826'; }
.icon-downarrow:before { content: '\e827'; }
.icon-download:before { content: '\e828'; }
.icon-earthgrid:before { content: '\e829'; }
.icon-edit:before { content: '\e82a'; }
.icon-email-2:before { content: '\e82b'; }
.icon-email-3:before { content: '\e82c'; }
.icon-email:before { content: '\e82d'; }
.icon-equalizer:before { content: '\e82e'; }
.icon-eraser-1:before { content: '\e82f'; }
.icon-expand:before { content: '\e830'; }
.icon-eye:before { content: '\e831'; }
.icon-fastforward:before { content: '\e833'; }
.icon-file:before { content: '\e834'; }
.icon-filter:before { content: '\e835'; }
.icon-firefox:before { content: '\e836'; }
.icon-flag:before { content: '\e837'; }
.icon-folder:before { content: '\e838'; }
.icon-followers:before { content: '\e839'; }
.icon-headphones:before { content: '\e83a'; }
.icon-heart:before { content: '\e83b'; }
.icon-hide:before { content: '\e83c'; }
.icon-highlighter:before { content: '\e83d'; }
.icon-home:before { content: '\e83e'; }
.icon-exposure-increase:before { content: '\e83f'; }
.icon-idea:before { content: '\e840'; }
.icon-information:before { content: '\e841'; }
.icon-joke:before { content: '\e843'; }
.icon-justify:before { content: '\e844'; }
.icon-key:before { content: '\e845'; }
.icon-leaf:before { content: '\e846'; }
.icon-layout:before { content: '\e847'; }
.icon-leftarrow-2:before { content: '\e848'; }
.icon-leftarrow-3:before { content: '\e849'; }
.icon-leftarrow:before { content: '\e84a'; }
.icon-like:before { content: '\e84b'; }
.icon-link:before { content: '\e84c'; }
.icon-loading:before { content: '\e84d'; }
.icon-login:before { content: '\e84e'; }
.icon-logout:before { content: '\e84f'; }
.icon-medal:before { content: '\e850'; }
.icon-megaphone:before { content: '\e851'; }
.icon-menu-2:before { content: '\e852'; }
.icon-menu:before { content: '\e853'; }
.icon-microphone:before { content: '\e854'; }
.icon-minimize:before { content: '\e855'; }
.icon-minus:before { content: '\e856'; }
.icon-money:before { content: '\e857'; }
.icon-monitor:before { content: '\e858'; }
.icon-moon:before { content: '\e859'; }
.icon-move-1:before { content: '\e85a'; }
.icon-music:before { content: '\e85b'; }
.icon-mute:before { content: '\e85c'; }
.icon-mute-2:before { content: '\e85d'; }
.icon-openlock:before { content: '\e85e'; }
.icon-padlock:before { content: '\e85f'; }
.icon-paintbucket:before { content: '\e860'; }
.icon-paste:before { content: '\e861'; }
.icon-pause:before { content: '\e862'; }
.icon-pencil-3:before { content: '\e863'; }
.icon-phonecall-2:before { content: '\e864'; }
.icon-phonecall-3:before { content: '\e865'; }
.icon-phonecall:before { content: '\e866'; }
.icon-photocamera:before { content: '\e867'; }
.icon-picture:before { content: '\e868'; }
.icon-piechart:before { content: '\e869'; }
.icon-piggybank:before { content: '\e86a'; }
.icon-pin-2:before { content: '\e86b'; }
.icon-pin:before { content: '\e86c'; }
.icon-play:before { content: '\e86d'; }
.icon-plus:before { content: '\e86e'; }
.icon-powerbutton:before { content: '\e86f'; }
.icon-printer:before { content: '\e870'; }
.icon-pushpin:before { content: '\e871'; }
.icon-puzzle:before { content: '\e872'; }
.icon-female:before { content: '\e873'; }
.icon-external-link-alt:before { content: '\e874'; }
.icon-refresh:before { content: '\e875'; }
.icon-removeuser:before { content: '\e876'; }
.icon-reply:before { content: '\e877'; }
.icon-replyall:before { content: '\e878'; }
.icon-rewind:before { content: '\e879'; }
.icon-rightarrow-2:before { content: '\e87a'; }
.icon-rightarrow:before { content: '\e87b'; }
.icon-sad:before { content: '\e87c'; }
.icon-male:before { content: '\e87d'; }
.icon-scale:before { content: '\e87e'; }
.icon-eye-slash:before { content: '\e87f'; }
.icon-settings:before { content: '\e880'; }
.icon-share:before { content: '\e881'; }
.icon-shield:before { content: '\e882'; }
.icon-shoppingcart:before { content: '\e883'; }
.icon-shuffle:before { content: '\e884'; }
.icon-silence:before { content: '\e885'; }
.icon-smartphone:before { content: '\e886'; }
.icon-smile-2:before { content: '\e887'; }
.icon-smile:before { content: '\e888'; }
.icon-snowflake:before { content: '\e889'; }
.icon-star:before { content: '\e88a'; }
.icon-stop:before { content: '\e88b'; }
.icon-sun:before { content: '\e88d'; }
.icon-surprise:before { content: '\e88e'; }
.icon-switch-2:before { content: '\e88f'; }
.icon-switch:before { content: '\e890'; }
.icon-tag:before { content: '\e891'; }
.icon-target:before { content: '\e892'; }
.icon-thermometer:before { content: '\e893'; }
.icon-thunderbolt:before { content: '\e894'; }
.icon-tools:before { content: '\e895'; }
.icon-trash-2:before { content: '\e896'; }
.icon-trash:before { content: '\e897'; }
.icon-umbrella:before { content: '\e899'; }
.icon-uparrow-2:before { content: '\e89a'; }
.icon-uparrow-3:before { content: '\e89b'; }
.icon-uparrow:before { content: '\e89c'; }
.icon-upload:before { content: '\e89d'; }
.icon-usb:before { content: '\e89e'; }
.icon-user-2:before { content: '\e89f'; }
.icon-user:before { content: '\e8a0'; }
.icon-comment-alt:before { content: '\e8a1'; }
.icon-videocamera:before { content: '\e8a2'; }
.icon-volume:before { content: '\e8a3'; }
.icon-wallclock:before { content: '\e8a4'; }
.icon-eye-2:before { content: '\e8a5'; }
.icon-wind:before { content: '\e8a6'; }
.icon-youtube:before { content: '\e8a7'; }
.icon-alarm-1:before { content: '\e8a8'; }
.icon-arroba:before { content: '\e8a9'; }
.icon-bar-chart:before { content: '\e8aa'; }
.icon-basketball:before { content: '\e8ab'; }
.icon-book:before { content: '\e8ac'; }
.icon-bug:before { content: '\e8ad'; }
.icon-cancel-1:before { content: '\e8ae'; }
.icon-checked-1:before { content: '\e8af'; }
.icon-checked:before { content: '\e8b0'; }
.icon-circular:before { content: '\e8b1'; }
.icon-clipboard-1:before { content: '\e8b2'; }
.icon-clipboard:before { content: '\e8b3'; }
.icon-clock:before { content: '\e8b4'; }
.icon-cloud-computing-1:before { content: '\e8b5'; }
.icon-cloud-computing-2:before { content: '\e8b6'; }
.icon-cloud-1:before { content: '\e8b9'; }
.icon-computer-1:before { content: '\e8ba'; }
.icon-computer:before { content: '\e8bb'; }
.icon-credit-card:before { content: '\e8bc'; }
.icon-cursor-1:before { content: '\e8bd'; }
.icon-devices:before { content: '\e8be'; }
.icon-file-blank:before { content: '\e8c0'; }
.icon-download-1:before { content: '\e8c1'; }
.icon-download-2:before { content: '\e8c2'; }
.icon-download-3:before { content: '\e8c3'; }
.icon-earth-globe:before { content: '\e8c4'; }
.icon-edit-1:before { content: '\e8c5'; }
.icon-edit-2:before { content: '\e8c6'; }
.icon-email-1:before { content: '\e8c7'; }
.icon-email-4:before { content: '\e8c8'; }
.icon-eye-1:before { content: '\e8c9'; }
.icon-flag-1:before { content: '\e8ca'; }
.icon-folder-1:before { content: '\e8cb'; }
.icon-glasses:before { content: '\e8cc'; }
.icon-head-1:before { content: '\e8cd'; }
.icon-head:before { content: '\e8ce'; }
.icon-headphones-1:before { content: '\e8cf'; }
.icon-heart-1:before { content: '\e8d0'; }
.icon-hide-1:before { content: '\e8d1'; }
.icon-infinity:before { content: '\e8d2'; }
.icon-laptop:before { content: '\e8d3'; }
.icon-levels-1:before { content: '\e8d4'; }
.icon-levels:before { content: '\e8d5'; }
.icon-light-bulb:before { content: '\e8d6'; }
.icon-like-1:before { content: '\e8d7'; }
.icon-doc-text-inv-1:before { content: '\e8d8'; }
.icon-login-1:before { content: '\e8d9'; }
.icon-login-2:before { content: '\e8da'; }
.icon-logout-1:before { content: '\e8db'; }
.icon-logout-2:before { content: '\e8dc'; }
.icon-mail-1:before { content: '\e8dd'; }
.icon-mail:before { content: '\e8de'; }
.icon-megaphone-1:before { content: '\e8df'; }
.icon-microphone-1:before { content: '\e8e0'; }
.icon-mouse-1:before { content: '\e8e1'; }
.icon-mouse:before { content: '\e8e2'; }
.icon-next-1:before { content: '\e8e3'; }
.icon-next-2:before { content: '\e8e4'; }
.icon-next-3:before { content: '\e8e5'; }
.icon-next:before { content: '\e8e6'; }
.icon-padlock-1:before { content: '\e8e7'; }
.icon-padlock-2:before { content: '\e8e8'; }
.icon-paper-plane-1:before { content: '\e8e9'; }
.icon-paper-plane:before { content: '\e8ea'; }
.icon-phone-call:before { content: '\e8ed'; }
.icon-photo-camera:before { content: '\e8ef'; }
.icon-picture-1:before { content: '\e8f0'; }
.icon-pie-chart:before { content: '\e8f1'; }
.icon-piggy-bank:before { content: '\e8f2'; }
.icon-placeholder:before { content: '\e8f3'; }
.icon-plug-1:before { content: '\e8f4'; }
.icon-plug:before { content: '\e8f6'; }
.icon-power-button:before { content: '\e8f7'; }
.icon-reload:before { content: '\e8f9'; }
.icon-repeat:before { content: '\e8fc'; }
.icon-screen-1:before { content: '\e8fd'; }
.icon-reply-1:before { content: '\e8fe'; }
.icon-screen:before { content: '\e8ff'; }
.icon-search:before { content: '\e900'; }
.icon-server:before { content: '\e901'; }
.icon-settings-1:before { content: '\e902'; }
.icon-settings-2:before { content: '\e903'; }
.icon-settings-3:before { content: '\e904'; }
.icon-share-1:before { content: '\e905'; }
.icon-shopping-bag:before { content: '\e906'; }
.icon-shuffle-1:before { content: '\e907'; }
.icon-shuffle-2:before { content: '\e908'; }
.icon-shuffle-3:before { content: '\e909'; }
.icon-sitemap:before { content: '\e90a'; }
.icon-sledge:before { content: '\e90b'; }
.icon-speaker-1:before { content: '\e90c'; }
.icon-speaker:before { content: '\e90d'; }
.icon-speech-bubble-2:before { content: '\e90f'; }
.icon-speech-bubble-3:before { content: '\e910'; }
.icon-speech-bubble-4:before { content: '\e911'; }
.icon-speech-bubble:before { content: '\e913'; }
.icon-file-exclamation-alt:before { content: '\e914'; }
.icon-tag-1:before { content: '\e916'; }
.icon-target-1:before { content: '\e917'; }
.icon-telephone:before { content: '\e918'; }
.icon-transfer:before { content: '\e91a'; }
.icon-trash-1:before { content: '\e91b'; }
.icon-trash-3:before { content: '\e91c'; }
.icon-umbrella-1:before { content: '\e91d'; }
.icon-upload-1:before { content: '\e91e'; }
.icon-upload-2:before { content: '\e91f'; }
.icon-upload-3:before { content: '\e920'; }
.icon-upload-4:before { content: '\e921'; }
.icon-user-1:before { content: '\e923'; }
.icon-user-3:before { content: '\e924'; }
.icon-user-4:before { content: '\e925'; }
.icon-user-5:before { content: '\e926'; }
.icon-users:before { content: '\e927'; }
.icon-volume-1:before { content: '\e928'; }
.icon-file-landscape-alt:before { content: '\e929'; }
.icon-file-landscape:before { content: '\e92a'; }
.icon-blur:before { content: '\e92c'; }
.icon-brightness:before { content: '\e92d'; }
.icon-file-minus-alt:before { content: '\e92e'; }
.icon-cube:before { content: '\e92f'; }
.icon-file-minus:before { content: '\e930'; }
.icon-dropper:before { content: '\e931'; }
.icon-eraser:before { content: '\e932'; }
.icon-fill:before { content: '\e933'; }
.icon-file-network:before { content: '\e934'; }
.icon-filter-1:before { content: '\e936'; }
.icon-hold:before { content: '\e937'; }
.icon-flask-potion:before { content: '\e938'; }
.icon-layers:before { content: '\e939'; }
.icon-magnifyingglass:before { content: '\e93b'; }
.icon-move:before { content: '\e93e'; }
.icon-paintbrush:before { content: '\e93f'; }
.icon-paintpalette:before { content: '\e940'; }
.icon-paintroller:before { content: '\e941'; }
.icon-pen:before { content: '\e944'; }
.icon-pencil:before { content: '\e945'; }
.icon-resize:before { content: '\e948'; }
.icon-rotate:before { content: '\e949'; }
.icon-stamp:before { content: '\e94f'; }
.icon-verticalalignment-2:before { content: '\e955'; }
.icon-verticalalignment:before { content: '\e956'; }
.icon-zoomin:before { content: '\e959'; }
.icon-zoomout:before { content: '\e95a'; }
.icon-instagram-logo:before { content: '\e96f'; }
.icon-telegram-logo:before { content: '\e97e'; }
.icon-youtube-logo:before { content: '\e98c'; }
.icon-github:before { content: '\e9a1'; }
.icon-add:before { content: '\e9a2'; }
.icon-minus-circle:before { content: '\e9a3'; }
.icon-terminal:before { content: '\e9a4'; }
.icon-messenger:before { content: '\e9a5'; }
.icon-angle-down:before { content: '\e9a6'; }
.icon-wifi:before { content: '\e9a7'; }
.icon-calendar-alt:before { content: '\e9a8'; }
.icon-calender:before { content: '\e9aa'; }
.icon-airplay:before { content: '\e9ab'; }
.icon-align-center-alt:before { content: '\e9ad'; }
.icon-align-center-justify:before { content: '\e9ae'; }
.icon-align-center:before { content: '\e9b0'; }
.icon-align-justify:before { content: '\e9b1'; }
.icon-align-left-justify:before { content: '\e9b2'; }
.icon-align-left:before { content: '\e9b3'; }
.icon-align-right:before { content: '\e9b6'; }
.icon-align:before { content: '\e9b7'; }
.icon-ambulance:before { content: '\e9b8'; }
.icon-analysis:before { content: '\e9b9'; }
.icon-analytics:before { content: '\e9ba'; }
.icon-anchor:before { content: '\e9bb'; }
.icon-angle-double-down:before { content: '\e9bd'; }
.icon-angle-double-left:before { content: '\e9be'; }
.icon-angle-double-right:before { content: '\e9bf'; }
.icon-angle-double-up:before { content: '\e9c0'; }
.icon-angle-left:before { content: '\e9c1'; }
.icon-angle-right-b:before { content: '\e9c2'; }
.icon-angle-right:before { content: '\e9c3'; }
.icon-angle-up:before { content: '\e9c4'; }
.icon-apple-alt:before { content: '\e9c8'; }
.icon-apps:before { content: '\e9ca'; }
.icon-archive-alt:before { content: '\e9cb'; }
.icon-arrow-circle-down:before { content: '\e9ce'; }
.icon-arrow-circle-left:before { content: '\e9cf'; }
.icon-arrow-circle-right:before { content: '\e9d0'; }
.icon-arrow-circle-up:before { content: '\e9d1'; }
.icon-arrow-down-left:before { content: '\e9d3'; }
.icon-arrow-down-right:before { content: '\e9d4'; }
.icon-arrow-down:before { content: '\e9d5'; }
.icon-arrow-from-right:before { content: '\e9d6'; }
.icon-arrow-from-top:before { content: '\e9d7'; }
.icon-arrow-growth:before { content: '\e9d8'; }
.icon-arrow-left:before { content: '\e9d9'; }
.icon-arrow-random:before { content: '\e9da'; }
.icon-arrow-resize-diagonal:before { content: '\e9db'; }
.icon-arrow-right:before { content: '\e9dc'; }
.icon-arrow-to-bottom:before { content: '\e9dd'; }
.icon-arrow-to-right:before { content: '\e9de'; }
.icon-arrow-up-left:before { content: '\e9df'; }
.icon-arrow-up-right:before { content: '\e9e0'; }
.icon-arrow-up:before { content: '\e9e1'; }
.icon-arrows-h:before { content: '\e9e3'; }
.icon-arrows-left-down:before { content: '\e9e4'; }
.icon-arrows-maximize:before { content: '\e9e5'; }
.icon-arrows-right-down:before { content: '\e9e7'; }
.icon-arrows-up-right:before { content: '\e9e8'; }
.icon-at:before { content: '\e9eb'; }
.icon-atm-card:before { content: '\e9ec'; }
.icon-award-alt:before { content: '\e9ed'; }
.icon-award:before { content: '\e9ee'; }
.icon-backspace:before { content: '\e9f0'; }
.icon-backward:before { content: '\e9f1'; }
.icon-bag-alt:before { content: '\e9f2'; }
.icon-ban:before { content: '\e9f6'; }
.icon-bars:before { content: '\e9f7'; }
.icon-bath:before { content: '\e9f9'; }
.icon-bell-school:before { content: '\e9fd'; }
.icon-bell-slash:before { content: '\e9fe'; }
.icon-bell:before { content: '\e9ff'; }
.icon-bill:before { content: '\ea00'; }
.icon-bolt-alt:before { content: '\ea03'; }
.icon-book-alt:before { content: '\ea06'; }
.icon-book-medical:before { content: '\ea07'; }
.icon-book-open:before { content: '\ea08'; }
.icon-book-reader:before { content: '\ea09'; }
.icon-book-1:before { content: '\ea0a'; }
.icon-bookmark-1:before { content: '\ea0c'; }
.icon-box:before { content: '\ea0d'; }
.icon-briefcase-alt:before { content: '\ea0e'; }
.icon-bright:before { content: '\ea10'; }
.icon-brightness-low:before { content: '\ea13'; }
.icon-brightness-plus:before { content: '\ea15'; }
.icon-brightness-1:before { content: '\ea16'; }
.icon-brush-alt:before { content: '\ea17'; }
.icon-bug-1:before { content: '\ea18'; }
.icon-building:before { content: '\ea19'; }
.icon-bus:before { content: '\ea1d'; }
.icon-calcualtor:before { content: '\ea1e'; }
.icon-calling:before { content: '\ea21'; }
.icon-camera-plus:before { content: '\ea23'; }
.icon-camera:before { content: '\ea25'; }
.icon-cancel-2:before { content: '\ea26'; }
.icon-capsule:before { content: '\ea27'; }
.icon-capture:before { content: '\ea28'; }
.icon-car:before { content: '\ea2c'; }
.icon-caret-right:before { content: '\ea2e'; }
.icon-cart:before { content: '\ea2f'; }
.icon-cell:before { content: '\ea30'; }
.icon-chart-bar-alt:before { content: '\ea31'; }
.icon-chart-bar:before { content: '\ea32'; }
.icon-chart-down:before { content: '\ea33'; }
.icon-chart-growth-alt:before { content: '\ea34'; }
.icon-chart-growth:before { content: '\ea35'; }
.icon-chart-line:before { content: '\ea36'; }
.icon-chart-pie-alt:before { content: '\ea37'; }
.icon-chart-pie:before { content: '\ea38'; }
.icon-chart:before { content: '\ea39'; }
.icon-chat-bubble-user:before { content: '\ea3a'; }
.icon-chat-info:before { content: '\ea3b'; }
.icon-chat-1:before { content: '\ea3c'; }
.icon-check-circle:before { content: '\ea3d'; }
.icon-check-square:before { content: '\ea3e'; }
.icon-check-1:before { content: '\ea3f'; }
.icon-circle:before { content: '\ea40'; }
.icon-circuit:before { content: '\ea41'; }
.icon-clipboard-alt:before { content: '\ea43'; }
.icon-clipboard-blank:before { content: '\ea44'; }
.icon-clipboard-notes:before { content: '\ea45'; }
.icon-clipboard-2:before { content: '\ea46'; }
.icon-clock-eight:before { content: '\ea47'; }
.icon-cloud-check:before { content: '\ea52'; }
.icon-cloud-data-connection:before { content: '\ea54'; }
.icon-cloud-2:before { content: '\ea64'; }
.icon-code:before { content: '\ea66'; }
.icon-coffee:before { content: '\ea67'; }
.icon-columns-1:before { content: '\ea69'; }
.icon-comment-alt-block:before { content: '\ea6a'; }
.icon-comment-alt-chart-lines:before { content: '\ea6b'; }
.icon-comment-alt-check:before { content: '\ea6c'; }
.icon-comment-alt-dots:before { content: '\ea6d'; }
.icon-comment-alt-edit:before { content: '\ea6f'; }
.icon-comment-alt-exclamation:before { content: '\ea70'; }
.icon-comment-alt-heart:before { content: '\ea71'; }
.icon-comment-alt-info:before { content: '\ea73'; }
.icon-comment-alt-lines:before { content: '\ea74'; }
.icon-comment-alt-lock:before { content: '\ea75'; }
.icon-comment-alt-medical:before { content: '\ea76'; }
.icon-comment-alt-message:before { content: '\ea77'; }
.icon-comment-alt-notes:before { content: '\ea78'; }
.icon-comment-alt-plus:before { content: '\ea79'; }
.icon-comment-alt-question:before { content: '\ea7a'; }
.icon-comment-alt-redo:before { content: '\ea7b'; }
.icon-comment-alt-search:before { content: '\ea7c'; }
.icon-comment-alt-shield:before { content: '\ea7e'; }
.icon-comment-alt-upload:before { content: '\ea80'; }
.icon-comment-alt-verify:before { content: '\ea81'; }
.icon-comment-alt-1:before { content: '\ea82'; }
.icon-comment-block:before { content: '\ea83'; }
.icon-comment-chart-line:before { content: '\ea84'; }
.icon-comment-check:before { content: '\ea85'; }
.icon-comment-dots:before { content: '\ea86'; }
.icon-comment-edit:before { content: '\ea88'; }
.icon-comment-exclamation:before { content: '\ea89'; }
.icon-comment-heart:before { content: '\ea8a'; }
.icon-comment-info-alt:before { content: '\ea8c'; }
.icon-comment-info:before { content: '\ea8d'; }
.icon-comment-lines:before { content: '\ea8e'; }
.icon-comment-lock:before { content: '\ea8f'; }
.icon-comment-medical:before { content: '\ea90'; }
.icon-comment-message:before { content: '\ea91'; }
.icon-comment-notes:before { content: '\ea92'; }
.icon-comment-plus:before { content: '\ea93'; }
.icon-comment-question:before { content: '\ea94'; }
.icon-comment-redo:before { content: '\ea95'; }
.icon-comment-search:before { content: '\ea96'; }
.icon-comment-share:before { content: '\ea97'; }
.icon-comment-shield:before { content: '\ea98'; }
.icon-comment-upload:before { content: '\ea9a'; }
.icon-comment-verify:before { content: '\ea9b'; }
.icon-comment-1:before { content: '\ea9c'; }
.icon-comments-alt:before { content: '\ea9d'; }
.icon-comments:before { content: '\ea9e'; }
.icon-compress-arrows:before { content: '\eaa0'; }
.icon-compress:before { content: '\eaa1'; }
.icon-computer-mouse:before { content: '\eaa2'; }
.icon-copy-alt:before { content: '\eaa5'; }
.icon-copy-1:before { content: '\eaa7'; }
.icon-copyright:before { content: '\eaa8'; }
.icon-corner-down-right-alt:before { content: '\eaaa'; }
.icon-corner-left-down:before { content: '\eaac'; }
.icon-corner-right-down:before { content: '\eaad'; }
.icon-corner-up-left-alt:before { content: '\eaae'; }
.icon-corner-up-right-alt:before { content: '\eab0'; }
.icon-crockery:before { content: '\eab2'; }
.icon-crop-alt:before { content: '\eab5'; }
.icon-crosshair:before { content: '\eab7'; }
.icon-crosshairs:before { content: '\eab8'; }
.icon-cube-2:before { content: '\eab9'; }
.icon-dashboard-1:before { content: '\eaba'; }
.icon-database-alt:before { content: '\eabc'; }
.icon-database:before { content: '\eabd'; }
.icon-desktop-alt:before { content: '\eabf'; }
.icon-desktop:before { content: '\eac2'; }
.icon-dialpad-alt:before { content: '\eac3'; }
.icon-diary:before { content: '\eac6'; }
.icon-direction:before { content: '\eacd'; }
.icon-directions:before { content: '\eace'; }
.icon-dna:before { content: '\ead0'; }
.icon-document-layout-center:before { content: '\ead1'; }
.icon-document-layout-left:before { content: '\ead2'; }
.icon-document-layout-right:before { content: '\ead3'; }
.icon-document:before { content: '\ead4'; }
.icon-dollar-alt:before { content: '\ead5'; }
.icon-dollar-sign:before { content: '\ead6'; }
.icon-down-arrow:before { content: '\ead7'; }
.icon-ear:before { content: '\ead9'; }
.icon-edit-alt:before { content: '\eada'; }
.icon-edit-3:before { content: '\eadb'; }
.icon-ellipsis-h:before { content: '\eadc'; }
.icon-ellipsis-v:before { content: '\eadd'; }
.icon-enter:before { content: '\eadf'; }
.icon-entry:before { content: '\eae0'; }
.icon-envelope-add:before { content: '\eae1'; }
.icon-envelope-alt:before { content: '\eae2'; }
.icon-envelope-edit:before { content: '\eae8'; }
.icon-envelope-open:before { content: '\eaee'; }
.icon-envelope-search:before { content: '\eaf2'; }
.icon-envelope-times:before { content: '\eaf7'; }
.icon-envelope:before { content: '\eafa'; }
.icon-equal-circle:before { content: '\eafc'; }
.icon-euro:before { content: '\eafe'; }
.icon-exclamation-circle:before { content: '\eb01'; }
.icon-exclamation-triangle:before { content: '\eb03'; }
.icon-exit:before { content: '\eb05'; }
.icon-expand-arrows-alt:before { content: '\eb07'; }
.icon-night:before { content: '\eb08'; }
.icon-send:before { content: '\eb09'; }
.icon-aligncenter-2:before { content: '\eb0a'; }
.icon-aligncenter-3:before { content: '\eb0b'; }
.icon-aligncenter:before { content: '\eb0c'; }
.icon-alignleft-2:before { content: '\eb0d'; }
.icon-alignleft-3:before { content: '\eb0e'; }
.icon-alignleft-1:before { content: '\eb0f'; }
.icon-fast-mail:before { content: '\eb12'; }
.icon-favorite:before { content: '\eb13'; }
.icon-feedback:before { content: '\eb14'; }
.icon-file-alt:before { content: '\eb15'; }
.icon-border:before { content: '\eb16'; }
.icon-file-bookmark-alt:before { content: '\eb18'; }
.icon-file-check:before { content: '\eb1a'; }
.icon-columns:before { content: '\eb1c'; }
.icon-file-edit-alt:before { content: '\eb1e'; }
.icon-indent-1:before { content: '\eb1f'; }
.icon-indent-2:before { content: '\eb20'; }
.icon-file-heart:before { content: '\eb21'; }
.icon-file-info-alt:before { content: '\eb22'; }
.icon-list-2:before { content: '\eb23'; }
.icon-list:before { content: '\eb24'; }
.icon-merge:before { content: '\eb25'; }
.icon-file-medical-alt:before { content: '\eb27'; }
.icon-file-medical:before { content: '\eb28'; }
.icon-rightalignment-2:before { content: '\eb29'; }
.icon-rightalignment-3:before { content: '\eb2a'; }
.icon-rightalignment:before { content: '\eb2b'; }
.icon-file-plus-alt:before { content: '\eb2c'; }
.icon-file-plus:before { content: '\eb2d'; }
.icon-file-question-alt:before { content: '\eb2e'; }
.icon-split:before { content: '\eb30'; }
.icon-file-search-alt:before { content: '\eb31'; }
.icon-file-slash:before { content: '\eb32'; }
.icon-file-upload-alt:before { content: '\eb35'; }
.icon-file-1:before { content: '\eb37'; }
.icon-files-landscapes:before { content: '\eb39'; }
.icon-gif-black:before { content: '\eb3c'; }
.icon-fire:before { content: '\eb3d'; }
.icon-attach:before { content: '\eb3e'; }
.icon-flask:before { content: '\eb3f'; }
.icon-flower:before { content: '\eb40'; }
.icon-focus-add:before { content: '\eb41'; }
.icon-focus-target:before { content: '\eb42'; }
.icon-focus:before { content: '\eb43'; }
.icon-folder-check:before { content: '\eb44'; }
.icon-folder-download:before { content: '\eb45'; }
.icon-folder-exclamation:before { content: '\eb46'; }
.icon-folder-lock:before { content: '\eb49'; }
.icon-folder-medical:before { content: '\eb4a'; }
.icon-folder-minus:before { content: '\eb4b'; }
.icon-folder-network:before { content: '\eb4c'; }
.icon-folder-question:before { content: '\eb4e'; }
.icon-folder-slash:before { content: '\eb4f'; }
.icon-folder-times:before { content: '\eb50'; }
.icon-folder-upload:before { content: '\eb51'; }
.icon-folder-2:before { content: '\eb52'; }
.icon-food:before { content: '\eb53'; }
.icon-forwaded-call:before { content: '\eb57'; }
.icon-forward:before { content: '\eb58'; }
.icon-frown:before { content: '\eb59'; }
.icon-gift:before { content: '\eb5b'; }
.icon-glass-martini-alt:before { content: '\eb5e'; }
.icon-glass-martini:before { content: '\eb5f'; }
.icon-glass-tea:before { content: '\eb60'; }
.icon-glass:before { content: '\eb61'; }
.icon-gold:before { content: '\eb63'; }
.icon-google-drive:before { content: '\eb65'; }
.icon-google-hangouts:before { content: '\eb66'; }
.icon-google-play:before { content: '\eb67'; }
.icon-google:before { content: '\eb68'; }
.icon-graduation-hat:before { content: '\eb69'; }
.icon-graph-bar:before { content: '\eb6a'; }
.icon-grid:before { content: '\eb6b'; }
.icon-grids:before { content: '\eb6c'; }
.icon-grin:before { content: '\eb6f'; }
.icon-hdd:before { content: '\eb71'; }
.icon-headphones-alt:before { content: '\eb72'; }
.icon-heart-alt:before { content: '\eb74'; }
.icon-heart-medical:before { content: '\eb75'; }
.icon-heart-rate:before { content: '\eb76'; }
.icon-history:before { content: '\eb7a'; }
.icon-home-alt:before { content: '\eb7b'; }
.icon-hourglass:before { content: '\eb7f'; }
.icon-hunting:before { content: '\eb80'; }
.icon-image-check:before { content: '\eb83'; }
.icon-image-edit:before { content: '\eb85'; }
.icon-image-plus:before { content: '\eb88'; }
.icon-image-v:before { content: '\eb90'; }
.icon-import:before { content: '\eb93'; }
.icon-incoming-call:before { content: '\eb94'; }
.icon-info-circle:before { content: '\eb95'; }
.icon-instagram-3:before { content: '\eb97'; }
.icon-invoice:before { content: '\eb9a'; }
.icon-key-skeleton-alt:before { content: '\eb9c'; }
.icon-keyboard-alt:before { content: '\eb9d'; }
.icon-keyhole-circle:before { content: '\eba1'; }
.icon-keyhole-square:before { content: '\eba3'; }
.icon-kid:before { content: '\eba4'; }
.icon-label-alt:before { content: '\eba5'; }
.icon-lamp:before { content: '\eba7'; }
.icon-laptop-1:before { content: '\eba9'; }
.icon-layer-group:before { content: '\ebac'; }
.icon-layers-1:before { content: '\ebae'; }
.icon-left-arrow-from-left:before { content: '\ebaf'; }
.icon-left-arrow-to-left:before { content: '\ebb0'; }
.icon-lightbulb-alt:before { content: '\ebb4'; }
.icon-line:before { content: '\ebb7'; }
.icon-link-alt:before { content: '\ebb8'; }
.icon-link-broken:before { content: '\ebb9'; }
.icon-link-h:before { content: '\ebba'; }
.icon-link-1:before { content: '\ebbb'; }
.icon-list-ui-alt:before { content: '\ebbc'; }
.icon-list-ul:before { content: '\ebbd'; }
.icon-location-arrow-alt:before { content: '\ebbe'; }
.icon-location-arrow:before { content: '\ebbf'; }
.icon-location-point:before { content: '\ebc1'; }
.icon-lock-access:before { content: '\ebc3'; }
.icon-lock-alt:before { content: '\ebc4'; }
.icon-lock-open-alt:before { content: '\ebc5'; }
.icon-lock-slash:before { content: '\ebc6'; }
.icon-lock:before { content: '\ebc7'; }
.icon-mailbox-alt:before { content: '\ebc8'; }
.icon-mailbox:before { content: '\ebc9'; }
.icon-map-marker:before { content: '\ebd2'; }
.icon-map-pin-alt:before { content: '\ebd3'; }
.icon-map:before { content: '\ebd5'; }
.icon-mars:before { content: '\ebd6'; }
.icon-medal-1:before { content: '\ebd8'; }
.icon-medical-square-full:before { content: '\ebd9'; }
.icon-medkit:before { content: '\ebdc'; }
.icon-meeting-board:before { content: '\ebdd'; }
.icon-meh:before { content: '\ebe0'; }
.icon-message:before { content: '\ebe1'; }
.icon-metro:before { content: '\ebe2'; }
.icon-microphone-2:before { content: '\ebe4'; }
.icon-minus-circle-1:before { content: '\ebe5'; }
.icon-minus-square:before { content: '\ebe7'; }
.icon-minus-1:before { content: '\ebe8'; }
.icon-missed-call:before { content: '\ebe9'; }
.icon-mobile-android-alt:before { content: '\ebeb'; }
.icon-mobile-android:before { content: '\ebec'; }
.icon-mobile-vibrate:before { content: '\ebed'; }
.icon-modem:before { content: '\ebee'; }
.icon-money-bill:before { content: '\ebf0'; }
.icon-money-insert:before { content: '\ebf1'; }
.icon-money-stack:before { content: '\ebf2'; }
.icon-money-withdraw:before { content: '\ebf3'; }
.icon-money-withdrawal:before { content: '\ebf4'; }
.icon-moneybag:before { content: '\ebf6'; }
.icon-monitor-heart-rate:before { content: '\ebf7'; }
.icon-monitor-1:before { content: '\ebf8'; }
.icon-moon-1:before { content: '\ebfa'; }
.icon-mountains-sun:before { content: '\ebfc'; }
.icon-mountains:before { content: '\ebfd'; }
.icon-mouse-alt:before { content: '\ebfe'; }
.icon-multiply:before { content: '\ec00'; }
.icon-music-note:before { content: '\ec01'; }
.icon-music-1:before { content: '\ec03'; }
.icon-n-a:before { content: '\ec04'; }
.icon-navigator:before { content: '\ec05'; }
.icon-nerd:before { content: '\ec06'; }
.icon-newspaper:before { content: '\ec07'; }
.icon-no-entry:before { content: '\ec09'; }
.icon-notebooks:before { content: '\ec0a'; }
.icon-notes:before { content: '\ec0b'; }
.icon-outgoing-call:before { content: '\ec0c'; }
.icon-package:before { content: '\ec0d'; }
.icon-padlock-3:before { content: '\ec0e'; }
.icon-paint-tool:before { content: '\ec0f'; }
.icon-palette:before { content: '\ec10'; }
.icon-panorama-h:before { content: '\ec12'; }
.icon-panorama-v:before { content: '\ec13'; }
.icon-paperclip:before { content: '\ec14'; }
.icon-paragraph:before { content: '\ec15'; }
.icon-parcel:before { content: '\ec16'; }
.icon-parking-square:before { content: '\ec17'; }
.icon-pause-1:before { content: '\ec19'; }
.icon-pen-1:before { content: '\ec1a'; }
.icon-phone-alt:before { content: '\ec1d'; }
.icon-phone-pause:before { content: '\ec1e'; }
.icon-phone-slash:before { content: '\ec1f'; }
.icon-phone-times:before { content: '\ec20'; }
.icon-phone-volume:before { content: '\ec21'; }
.icon-phone:before { content: '\ec22'; }
.icon-picture-2:before { content: '\ec23'; }
.icon-plane-arrival:before { content: '\ec24'; }
.icon-plane-departure:before { content: '\ec25'; }
.icon-plane-fly:before { content: '\ec26'; }
.icon-play-1:before { content: '\ec29'; }
.icon-plug-3:before { content: '\ec2a'; }
.icon-plus-circle:before { content: '\ec2b'; }
.icon-plus-square:before { content: '\ec2c'; }
.icon-plus-1:before { content: '\ec2d'; }
.icon-podium:before { content: '\ec2e'; }
.icon-postcard:before { content: '\ec30'; }
.icon-pound:before { content: '\ec32'; }
.icon-prescription-bottle:before { content: '\ec34'; }
.icon-presentation-check:before { content: '\ec35'; }
.icon-presentation-line:before { content: '\ec37'; }
.icon-presentation-minus:before { content: '\ec39'; }
.icon-presentation-play:before { content: '\ec3a'; }
.icon-presentation:before { content: '\ec3d'; }
.icon-previous:before { content: '\ec3e'; }
.icon-pricetag-alt:before { content: '\ec3f'; }
.icon-print:before { content: '\ec41'; }
.icon-process:before { content: '\ec42'; }
.icon-processor:before { content: '\ec43'; }
.icon-pump:before { content: '\ec44'; }
.icon-puzzle-piece:before { content: '\ec45'; }
.icon-question-circle:before { content: '\ec46'; }
.icon-raindrops-alt:before { content: '\ec47'; }
.icon-receipt-alt:before { content: '\ec49'; }
.icon-redo:before { content: '\ec4c'; }
.icon-refresh-1:before { content: '\ec4d'; }
.icon-repeat-3:before { content: '\ec4f'; }
.icon-robot:before { content: '\ec53'; }
.icon-rotate-360:before { content: '\ec55'; }
.icon-rss-interface:before { content: '\ec57'; }
.icon-rss:before { content: '\ec58'; }
.icon-scenery:before { content: '\ec5b'; }
.icon-schedule:before { content: '\ec5c'; }
.icon-science:before { content: '\ec5d'; }
.icon-scroll-h:before { content: '\ec5f'; }
.icon-scroll:before { content: '\ec60'; }
.icon-search-minus:before { content: '\ec62'; }
.icon-search-plus:before { content: '\ec63'; }
.icon-search-1:before { content: '\ec64'; }
.icon-server-alt:before { content: '\ec66'; }
.icon-server-network:before { content: '\ec69'; }
.icon-share-alt:before { content: '\ec6c'; }
.icon-shield-check:before { content: '\ec6d'; }
.icon-shield-slash:before { content: '\ec70'; }
.icon-shield-1:before { content: '\ec71'; }
.icon-ship:before { content: '\ec72'; }
.icon-shopping-cart-alt:before { content: '\ec75'; }
.icon-shovel:before { content: '\ec77'; }
.icon-sign-alt:before { content: '\ec7b'; }
.icon-sign-in-alt:before { content: '\ec7c'; }
.icon-sign-left:before { content: '\ec7d'; }
.icon-sign-out-alt:before { content: '\ec7e'; }
.icon-sign-right:before { content: '\ec7f'; }
.icon-signal-alt-3:before { content: '\ec80'; }
.icon-signal-alt:before { content: '\ec81'; }
.icon-skip-forward-alt:before { content: '\ec86'; }
.icon-skip-forward:before { content: '\ec88'; }
.icon-slack:before { content: '\ec8a'; }
.icon-sliders-v:before { content: '\ec8c'; }
.icon-smile-1:before { content: '\ec93'; }
.icon-sort-amount-down:before { content: '\ec98'; }
.icon-sort-amount-up:before { content: '\ec99'; }
.icon-sort:before { content: '\ec9a'; }
.icon-sorting:before { content: '\ec9b'; }
.icon-space-key:before { content: '\ec9c'; }
.icon-square-shape:before { content: '\eca2'; }
.icon-star-1:before { content: '\eca6'; }
.icon-step-backward-alt:before { content: '\eca7'; }
.icon-step-backward:before { content: '\eca9'; }
.icon-step-forward:before { content: '\ecaa'; }
.icon-stopwatch:before { content: '\ecad'; }
.icon-store:before { content: '\ecaf'; }
.icon-subject:before { content: '\ecb0'; }
.icon-subway:before { content: '\ecb2'; }
.icon-suitcase:before { content: '\ecb4'; }
.icon-sun-1:before { content: '\ecb5'; }
.icon-sunset:before { content: '\ecb6'; }
.icon-swatchbook:before { content: '\ecb8'; }
.icon-swimmer:before { content: '\ecb9'; }
.icon-sync-exclamation:before { content: '\ecba'; }
.icon-sync:before { content: '\ecbc'; }
.icon-table:before { content: '\ecbd'; }
.icon-tablet:before { content: '\ecbe'; }
.icon-tachometer-fast:before { content: '\ecbf'; }
.icon-tag-alt:before { content: '\ecc0'; }
.icon-tag-2:before { content: '\ecc1'; }
.icon-taxi:before { content: '\ecc2'; }
.icon-tear:before { content: '\ecc3'; }
.icon-technology:before { content: '\ecc4'; }
.icon-telegram-alt:before { content: '\ecc5'; }
.icon-temperature-half:before { content: '\ecc9'; }
.icon-th:before { content: '\ecd4'; }
.icon-thumbs-down:before { content: '\ecd6'; }
.icon-thumbs-up:before { content: '\ecd7'; }
.icon-ticket:before { content: '\ecd8'; }
.icon-times-circle:before { content: '\ecd9'; }
.icon-times-square:before { content: '\ecda'; }
.icon-times:before { content: '\ecdb'; }
.icon-top-arrow-to-top:before { content: '\ecdd'; }
.icon-trash-alt:before { content: '\ece0'; }
.icon-trash-4:before { content: '\ece1'; }
.icon-trees:before { content: '\ece2'; }
.icon-triangle:before { content: '\ece3'; }
.icon-trophy:before { content: '\ece4'; }
.icon-trowel:before { content: '\ece5'; }
.icon-truck:before { content: '\ece6'; }
.icon-tv-retro:before { content: '\ece8'; }
.icon-twitter-alt:before { content: '\ece9'; }
.icon-umbrella-2:before { content: '\eceb'; }
.icon-university:before { content: '\ecee'; }
.icon-unlock-alt:before { content: '\ecef'; }
.icon-unlock:before { content: '\ecf0'; }
.icon-upload-6:before { content: '\ecf2'; }
.icon-usd-circle:before { content: '\ecf3'; }
.icon-usd-square:before { content: '\ecf4'; }
.icon-user-check:before { content: '\ecf5'; }
.icon-user-minus:before { content: '\ecf9'; }
.icon-user-plus:before { content: '\ecfa'; }
.icon-user-square:before { content: '\ecfb'; }
.icon-user-6:before { content: '\ecfd'; }
.icon-users-alt:before { content: '\ecfe'; }
.icon-utensils:before { content: '\ed00'; }
.icon-video:before { content: '\ed03'; }
.icon-voicemail-rectangle:before { content: '\ed04'; }
.icon-voicemail:before { content: '\ed05'; }
.icon-volume-2:before { content: '\ed0a'; }
.icon-wallet:before { content: '\ed0b'; }
.icon-watch-alt:before { content: '\ed0c'; }
.icon-web-grid-alt:before { content: '\ed11'; }
.icon-web-grid:before { content: '\ed12'; }
.icon-web-section-alt:before { content: '\ed13'; }
.icon-weight:before { content: '\ed16'; }
.icon-window-grid:before { content: '\ed1d'; }
.icon-window-maximize:before { content: '\ed1e'; }
.icon-window-section:before { content: '\ed20'; }
.icon-window:before { content: '\ed21'; }
.icon-wrench:before { content: '\ed24'; }
.icon-yen:before { content: '\ed27'; }
.icon-twitter:before { content: '\f099'; }
.icon-facebook:before { content: '\f09a'; }
.icon-github-circled:before { content: '\f09b'; }
.icon-mail-alt:before { content: '\f0e0'; }
.icon-linkedin-logo:before { content: '\f0e1'; }
.icon-doc-inv:before { content: '\f15b'; }
.icon-doc-text-inv:before { content: '\f15c'; }
.icon-youtube-play:before { content: '\f16a'; }
.icon-git:before { content: '\f1d3'; }
.icon-wechat:before { content: '\f1d7'; }
.icon-facebook-official:before { content: '\f230'; }
.icon-whatsapp:before { content: '\f232'; }
.icon-comment:before { content: '\f4ac'; }