@font-face {
  font-family: 'erxes';
  src: url('../font/erxes.eot?23334314');
  src: url('../font/erxes.eot?23334314#iefix') format('embedded-opentype'),
       url('../font/erxes.woff2?23334314') format('woff2'),
       url('../font/erxes.woff?23334314') format('woff'),
       url('../font/erxes.ttf?23334314') format('truetype'),
       url('../font/erxes.svg?23334314#erxes') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'erxes';
    src: url('../font/erxes.svg?23334314#erxes') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "erxes";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-adduser:before { content: '\e800'; }
.icon-alarm-2:before { content: '\e801'; }
.icon-alarm:before { content: '\e802'; }
.icon-alignleft:before { content: '\e803'; }
.icon-alignright:before { content: '\e804'; }
.icon-barchart:before { content: '\e805'; }
.icon-binoculars:before { content: '\e806'; }
.icon-bluetooth:before { content: '\e807'; }
.icon-bookmark:before { content: '\e808'; }
.icon-briefcase:before { content: '\e809'; }
.icon-brokenlink:before { content: '\e80a'; }
.icon-calculator:before { content: '\e80b'; }
.icon-calendar:before { content: '\e80c'; }
.icon-cancel:before { content: '\e80d'; }
.icon-chat:before { content: '\e80e'; }
.icon-check:before { content: '\e80f'; }
.icon-chevron:before { content: '\e810'; }
.icon-chrome:before { content: '\e811'; }
.icon-clicker:before { content: '\e812'; }
.icon-clip:before { content: '\e813'; }
.icon-cloud:before { content: '\e814'; }
.icon-cloudcomputing-2:before { content: '\e815'; }
.icon-cloudcomputing:before { content: '\e816'; }
.icon-compass:before { content: '\e817'; }
.icon-copy:before { content: '\e818'; }
.icon-creditcard:before { content: '\e819'; }
.icon-crop:before { content: '\e81a'; }
.icon-cube-1:before { content: '\e81b'; }
.icon-cursor:before { content: '\e81c'; }
.icon-cut-2:before { content: '\e81d'; }
.icon-cut:before { content: '\e81e'; }
.icon-dashboard:before { content: '\e81f'; }
.icon-diagram:before { content: '\e820'; }
.icon-diamond:before { content: '\e821'; }
.icon-disabled:before { content: '\e822'; }
.icon-diskette:before { content: '\e823'; }
.icon-dislike:before { content: '\e824'; }
.icon-downarrow-2:before { content: '\e825'; }
.icon-downarrow-3:before { content: '\e826'; }
.icon-downarrow:before { content: '\e827'; }
.icon-download:before { content: '\e828'; }
.icon-earthgrid:before { content: '\e829'; }
.icon-edit:before { content: '\e82a'; }
.icon-email-2:before { content: '\e82b'; }
.icon-email-3:before { content: '\e82c'; }
.icon-email:before { content: '\e82d'; }
.icon-equalizer:before { content: '\e82e'; }
.icon-eraser-1:before { content: '\e82f'; }
.icon-expand:before { content: '\e830'; }
.icon-eye:before { content: '\e831'; }
.icon-facebook:before { content: '\e832'; }
.icon-fastforward:before { content: '\e833'; }
.icon-file:before { content: '\e834'; }
.icon-filter:before { content: '\e835'; }
.icon-firefox:before { content: '\e836'; }
.icon-flag:before { content: '\e837'; }
.icon-folder:before { content: '\e838'; }
.icon-followers:before { content: '\e839'; }
.icon-headphones:before { content: '\e83a'; }
.icon-heart:before { content: '\e83b'; }
.icon-hide:before { content: '\e83c'; }
.icon-highlighter:before { content: '\e83d'; }
.icon-home:before { content: '\e83e'; }
.icon-hourglass:before { content: '\e83f'; }
.icon-idea:before { content: '\e840'; }
.icon-information:before { content: '\e841'; }
.icon-instagram:before { content: '\e842'; }
.icon-joke:before { content: '\e843'; }
.icon-justify:before { content: '\e844'; }
.icon-key:before { content: '\e845'; }
.icon-leaf:before { content: '\e846'; }
.icon-layout:before { content: '\e847'; }
.icon-leftarrow-2:before { content: '\e848'; }
.icon-leftarrow-3:before { content: '\e849'; }
.icon-leftarrow:before { content: '\e84a'; }
.icon-like:before { content: '\e84b'; }
.icon-link:before { content: '\e84c'; }
.icon-loading:before { content: '\e84d'; }
.icon-login:before { content: '\e84e'; }
.icon-logout:before { content: '\e84f'; }
.icon-medal:before { content: '\e850'; }
.icon-megaphone:before { content: '\e851'; }
.icon-menu-2:before { content: '\e852'; }
.icon-menu:before { content: '\e853'; }
.icon-microphone:before { content: '\e854'; }
.icon-minimize:before { content: '\e855'; }
.icon-minus:before { content: '\e856'; }
.icon-money:before { content: '\e857'; }
.icon-monitor:before { content: '\e858'; }
.icon-moon:before { content: '\e859'; }
.icon-move-1:before { content: '\e85a'; }
.icon-music:before { content: '\e85b'; }
.icon-mute:before { content: '\e85c'; }
.icon-mute-2:before { content: '\e85d'; }
.icon-openlock:before { content: '\e85e'; }
.icon-padlock:before { content: '\e85f'; }
.icon-paintbucket:before { content: '\e860'; }
.icon-paste:before { content: '\e861'; }
.icon-pause:before { content: '\e862'; }
.icon-pencil-3:before { content: '\e863'; }
.icon-phonecall-2:before { content: '\e864'; }
.icon-phonecall-3:before { content: '\e865'; }
.icon-phonecall:before { content: '\e866'; }
.icon-photocamera:before { content: '\e867'; }
.icon-picture:before { content: '\e868'; }
.icon-piechart:before { content: '\e869'; }
.icon-piggybank:before { content: '\e86a'; }
.icon-pin-2:before { content: '\e86b'; }
.icon-pin:before { content: '\e86c'; }
.icon-play:before { content: '\e86d'; }
.icon-plus:before { content: '\e86e'; }
.icon-powerbutton:before { content: '\e86f'; }
.icon-printer:before { content: '\e870'; }
.icon-pushpin:before { content: '\e871'; }
.icon-puzzle:before { content: '\e872'; }
.icon-female:before { content: '\e873'; }
.icon-question:before { content: '\e874'; }
.icon-refresh:before { content: '\e875'; }
.icon-removeuser:before { content: '\e876'; }
.icon-reply:before { content: '\e877'; }
.icon-replyall:before { content: '\e878'; }
.icon-rewind:before { content: '\e879'; }
.icon-rightarrow-2:before { content: '\e87a'; }
.icon-rightarrow:before { content: '\e87b'; }
.icon-sad:before { content: '\e87c'; }
.icon-male:before { content: '\e87d'; }
.icon-scale:before { content: '\e87e'; }
.icon-screenshot:before { content: '\e87f'; }
.icon-settings:before { content: '\e880'; }
.icon-share:before { content: '\e881'; }
.icon-shield:before { content: '\e882'; }
.icon-shoppingcart:before { content: '\e883'; }
.icon-shuffle:before { content: '\e884'; }
.icon-silence:before { content: '\e885'; }
.icon-smartphone:before { content: '\e886'; }
.icon-smile-2:before { content: '\e887'; }
.icon-smile:before { content: '\e888'; }
.icon-snowflake:before { content: '\e889'; }
.icon-star:before { content: '\e88a'; }
.icon-stop:before { content: '\e88b'; }
.icon-straight:before { content: '\e88c'; }
.icon-sun:before { content: '\e88d'; }
.icon-surprise:before { content: '\e88e'; }
.icon-switch-2:before { content: '\e88f'; }
.icon-switch:before { content: '\e890'; }
.icon-tag:before { content: '\e891'; }
.icon-target:before { content: '\e892'; }
.icon-thermometer:before { content: '\e893'; }
.icon-thunderbolt:before { content: '\e894'; }
.icon-tools:before { content: '\e895'; }
.icon-trash-2:before { content: '\e896'; }
.icon-trash:before { content: '\e897'; }
.icon-twitter:before { content: '\e898'; }
.icon-umbrella:before { content: '\e899'; }
.icon-uparrow-2:before { content: '\e89a'; }
.icon-uparrow-3:before { content: '\e89b'; }
.icon-uparrow:before { content: '\e89c'; }
.icon-upload:before { content: '\e89d'; }
.icon-usb:before { content: '\e89e'; }
.icon-user-2:before { content: '\e89f'; }
.icon-user:before { content: '\e8a0'; }
.icon-videocamera:before { content: '\e8a2'; }
.icon-volume:before { content: '\e8a3'; }
.icon-wallclock:before { content: '\e8a4'; }
.icon-wifi:before { content: '\e8a5'; }
.icon-wind:before { content: '\e8a6'; }
.icon-youtube:before { content: '\e8a7'; }
.icon-alarm-1:before { content: '\e8a8'; }
.icon-arroba:before { content: '\e8a9'; }
.icon-bar-chart:before { content: '\e8aa'; }
.icon-basketball:before { content: '\e8ab'; }
.icon-book:before { content: '\e8ac'; }
.icon-bug:before { content: '\e8ad'; }
.icon-cancel-1:before { content: '\e8ae'; }
.icon-checked-1:before { content: '\e8af'; }
.icon-checked:before { content: '\e8b0'; }
.icon-circular:before { content: '\e8b1'; }
.icon-clipboard-1:before { content: '\e8b2'; }
.icon-clipboard:before { content: '\e8b3'; }
.icon-clock:before { content: '\e8b4'; }
.icon-cloud-computing-1:before { content: '\e8b5'; }
.icon-cloud-computing-2:before { content: '\e8b6'; }
.icon-cloud-computing-3:before { content: '\e8b7'; }
.icon-cloud-computing:before { content: '\e8b8'; }
.icon-cloud-1:before { content: '\e8b9'; }
.icon-computer-1:before { content: '\e8ba'; }
.icon-computer:before { content: '\e8bb'; }
.icon-credit-card:before { content: '\e8bc'; }
.icon-cursor-1:before { content: '\e8bd'; }
.icon-devices:before { content: '\e8be'; }
.icon-dial-1:before { content: '\e8bf'; }
.icon-dial:before { content: '\e8c0'; }
.icon-download-1:before { content: '\e8c1'; }
.icon-download-2:before { content: '\e8c2'; }
.icon-download-3:before { content: '\e8c3'; }
.icon-earth-globe:before { content: '\e8c4'; }
.icon-edit-1:before { content: '\e8c5'; }
.icon-edit-2:before { content: '\e8c6'; }
.icon-email-1:before { content: '\e8c7'; }
.icon-email-4:before { content: '\e8c8'; }
.icon-eye-1:before { content: '\e8c9'; }
.icon-flag-1:before { content: '\e8ca'; }
.icon-folder-1:before { content: '\e8cb'; }
.icon-glasses:before { content: '\e8cc'; }
.icon-head-1:before { content: '\e8cd'; }
.icon-head:before { content: '\e8ce'; }
.icon-headphones-1:before { content: '\e8cf'; }
.icon-heart-1:before { content: '\e8d0'; }
.icon-hide-1:before { content: '\e8d1'; }
.icon-infinity:before { content: '\e8d2'; }
.icon-laptop:before { content: '\e8d3'; }
.icon-levels-1:before { content: '\e8d4'; }
.icon-levels:before { content: '\e8d5'; }
.icon-light-bulb:before { content: '\e8d6'; }
.icon-like-1:before { content: '\e8d7'; }
.icon-login-1:before { content: '\e8d9'; }
.icon-login-2:before { content: '\e8da'; }
.icon-logout-1:before { content: '\e8db'; }
.icon-logout-2:before { content: '\e8dc'; }
.icon-mail-1:before { content: '\e8dd'; }
.icon-mail:before { content: '\e8de'; }
.icon-megaphone-1:before { content: '\e8df'; }
.icon-microphone-1:before { content: '\e8e0'; }
.icon-mouse-1:before { content: '\e8e1'; }
.icon-mouse:before { content: '\e8e2'; }
.icon-next-1:before { content: '\e8e3'; }
.icon-next-2:before { content: '\e8e4'; }
.icon-next-3:before { content: '\e8e5'; }
.icon-next:before { content: '\e8e6'; }
.icon-padlock-1:before { content: '\e8e7'; }
.icon-padlock-2:before { content: '\e8e8'; }
.icon-paper-plane-1:before { content: '\e8e9'; }
.icon-paper-plane:before { content: '\e8ea'; }
.icon-pencil-1:before { content: '\e8eb'; }
.icon-pencil-2:before { content: '\e8ec'; }
.icon-phone-call:before { content: '\e8ed'; }
.icon-photo-camera-1:before { content: '\e8ee'; }
.icon-photo-camera:before { content: '\e8ef'; }
.icon-picture-1:before { content: '\e8f0'; }
.icon-pie-chart:before { content: '\e8f1'; }
.icon-piggy-bank:before { content: '\e8f2'; }
.icon-placeholder:before { content: '\e8f3'; }
.icon-plug-1:before { content: '\e8f4'; }
.icon-plug-2:before { content: '\e8f5'; }
.icon-plug:before { content: '\e8f6'; }
.icon-power-button:before { content: '\e8f7'; }
.icon-printer-1:before { content: '\e8f8'; }
.icon-reload:before { content: '\e8f9'; }
.icon-repeat-1:before { content: '\e8fa'; }
.icon-repeat-2:before { content: '\e8fb'; }
.icon-repeat:before { content: '\e8fc'; }
.icon-screen-1:before { content: '\e8fd'; }
.icon-reply-1:before { content: '\e8fe'; }
.icon-screen:before { content: '\e8ff'; }
.icon-search:before { content: '\e900'; }
.icon-server:before { content: '\e901'; }
.icon-settings-1:before { content: '\e902'; }
.icon-settings-2:before { content: '\e903'; }
.icon-settings-3:before { content: '\e904'; }
.icon-share-1:before { content: '\e905'; }
.icon-shopping-bag:before { content: '\e906'; }
.icon-shuffle-1:before { content: '\e907'; }
.icon-shuffle-2:before { content: '\e908'; }
.icon-shuffle-3:before { content: '\e909'; }
.icon-sitemap:before { content: '\e90a'; }
.icon-sledge:before { content: '\e90b'; }
.icon-speaker-1:before { content: '\e90c'; }
.icon-speaker:before { content: '\e90d'; }
.icon-speech-bubble-2:before { content: '\e90f'; }
.icon-speech-bubble-3:before { content: '\e910'; }
.icon-speech-bubble-4:before { content: '\e911'; }
.icon-speech-bubble:before { content: '\e913'; }
.icon-switch-1:before { content: '\e914'; }
.icon-switch-3:before { content: '\e915'; }
.icon-tag-1:before { content: '\e916'; }
.icon-target-1:before { content: '\e917'; }
.icon-telephone:before { content: '\e918'; }
.icon-transfer-1:before { content: '\e919'; }
.icon-transfer:before { content: '\e91a'; }
.icon-trash-1:before { content: '\e91b'; }
.icon-trash-3:before { content: '\e91c'; }
.icon-umbrella-1:before { content: '\e91d'; }
.icon-upload-1:before { content: '\e91e'; }
.icon-upload-2:before { content: '\e91f'; }
.icon-upload-3:before { content: '\e920'; }
.icon-upload-4:before { content: '\e921'; }
.icon-upload-5:before { content: '\e922'; }
.icon-user-1:before { content: '\e923'; }
.icon-user-3:before { content: '\e924'; }
.icon-user-4:before { content: '\e925'; }
.icon-user-5:before { content: '\e926'; }
.icon-users:before { content: '\e927'; }
.icon-volume-1:before { content: '\e928'; }
.icon-background:before { content: '\e92a'; }
.icon-blender:before { content: '\e92b'; }
.icon-blur:before { content: '\e92c'; }
.icon-brightness:before { content: '\e92d'; }
.icon-contrast:before { content: '\e92e'; }
.icon-cube:before { content: '\e92f'; }
.icon-dropper:before { content: '\e931'; }
.icon-eraser:before { content: '\e932'; }
.icon-fill:before { content: '\e933'; }
.icon-front-2:before { content: '\e934'; }
.icon-front:before { content: '\e935'; }
.icon-height:before { content: '\e936'; }
.icon-hold:before { content: '\e937'; }
.icon-lasso:before { content: '\e938'; }
.icon-layers:before { content: '\e939'; }
.icon-magicwand:before { content: '\e93a'; }
.icon-magnifyingglass:before { content: '\e93b'; }
.icon-marquee:before { content: '\e93c'; }
.icon-move:before { content: '\e93e'; }
.icon-paintbrush:before { content: '\e93f'; }
.icon-paintpalette:before { content: '\e940'; }
.icon-paintroller:before { content: '\e941'; }
.icon-paintspray:before { content: '\e942'; }
.icon-pantone:before { content: '\e943'; }
.icon-pen:before { content: '\e944'; }
.icon-pencil:before { content: '\e945'; }
.icon-reflect-2:before { content: '\e946'; }
.icon-reflect:before { content: '\e947'; }
.icon-resize:before { content: '\e948'; }
.icon-rotate:before { content: '\e949'; }
.icon-ruler:before { content: '\e94a'; }
.icon-rulers:before { content: '\e94b'; }
.icon-selection-2:before { content: '\e94c'; }
.icon-slice:before { content: '\e94e'; }
.icon-stamp:before { content: '\e94f'; }
.icon-transparency:before { content: '\e952'; }
.icon-type:before { content: '\e953'; }
.icon-verticalalignment-2:before { content: '\e955'; }
.icon-verticalalignment:before { content: '\e956'; }
.icon-zoomin:before { content: '\e959'; }
.icon-zoomout:before { content: '\e95a'; }
.icon-9gag-logo:before { content: '\e95b'; }
.icon-android-logo:before { content: '\e95c'; }
.icon-apple-logo:before { content: '\e95d'; }
.icon-badoo-logo:before { content: '\e95f'; }
.icon-behance:before { content: '\e961'; }
.icon-dribbble-logo:before { content: '\e966'; }
.icon-dropbox-logo:before { content: '\e967'; }
.icon-facebook-logo:before { content: '\e968'; }
.icon-facebook-messenger-logo:before { content: '\e969'; }
.icon-flickr-logo:before { content: '\e96a'; }
.icon-foursquare-logo:before { content: '\e96b'; }
.icon-google-plus-logo:before { content: '\e96c'; }
.icon-hangouts-logo:before { content: '\e96d'; }
.icon-instagram-logo:before { content: '\e96f'; }
.icon-line-logo:before { content: '\e971'; }
.icon-linkedin-logo:before { content: '\e972'; }
.icon-meetup-logo:before { content: '\e973'; }
.icon-myspace-logo:before { content: '\e974'; }
.icon-periscope-logo:before { content: '\e975'; }
.icon-picasa-logo:before { content: '\e976'; }
.icon-pinterest-logo:before { content: '\e977'; }
.icon-reddit-logo:before { content: '\e978'; }
.icon-skype-logo:before { content: '\e979'; }
.icon-snapcatch-logo:before { content: '\e97a'; }
.icon-soundcloud-logo:before { content: '\e97b'; }
.icon-spotify-logo:before { content: '\e97c'; }
.icon-telegram-logo:before { content: '\e97e'; }
.icon-tinder-logo:before { content: '\e97f'; }
.icon-tumblr-logo:before { content: '\e981'; }
.icon-twitter-logo:before { content: '\e982'; }
.icon-uber-logo:before { content: '\e983'; }
.icon-viber-logo:before { content: '\e984'; }
.icon-whatsapp-logo:before { content: '\e988'; }
.icon-windos-8-logo:before { content: '\e989'; }
.icon-wordpress-logo:before { content: '\e98a'; }
.icon-yahoo-logo:before { content: '\e98b'; }
.icon-youtube-logo:before { content: '\e98c'; }
.icon-github:before { content: '\e9a1'; }
.icon-add:before { content: '\e9a2'; }
.icon-minus-circle:before { content: '\e9a3'; }
.icon-terminal:before { content: '\e9a4'; }
.icon-night:before { content: '\eb08'; }
.icon-send:before { content: '\eb09'; }
.icon-aligncenter-2:before { content: '\eb0a'; }
.icon-aligncenter-3:before { content: '\eb0b'; }
.icon-aligncenter:before { content: '\eb0c'; }
.icon-alignleft-2:before { content: '\eb0d'; }
.icon-alignleft-3:before { content: '\eb0e'; }
.icon-alignleft-1:before { content: '\eb0f'; }
.icon-bold:before { content: '\eb10'; }
.icon-border-6:before { content: '\eb16'; }
.icon-bottom-2:before { content: '\eb18'; }
.icon-centeralign:before { content: '\eb1a'; }
.icon-columns:before { content: '\eb1c'; }
.icon-cursor-2:before { content: '\eb1d'; }
.icon-fontsize:before { content: '\eb1e'; }
.icon-indent-1:before { content: '\eb1f'; }
.icon-indent-2:before { content: '\eb20'; }
.icon-italic:before { content: '\eb21'; }
.icon-leftquote:before { content: '\eb22'; }
.icon-list-2:before { content: '\eb23'; }
.icon-list:before { content: '\eb24'; }
.icon-merge:before { content: '\eb25'; }
.icon-paragraph:before { content: '\eb26'; }
.icon-resizefont:before { content: '\eb27'; }
.icon-resizefont-2:before { content: '\eb28'; }
.icon-rightalignment-2:before { content: '\eb29'; }
.icon-rightalignment-3:before { content: '\eb2a'; }
.icon-rightalignment:before { content: '\eb2b'; }
.icon-rightquote:before { content: '\eb2c'; }
.icon-sort-2:before { content: '\eb2d'; }
.icon-sort-3:before { content: '\eb2e'; }
.icon-sort:before { content: '\eb2f'; }
.icon-split:before { content: '\eb30'; }
.icon-strikethrough:before { content: '\eb31'; }
.icon-subscript:before { content: '\eb32'; }
.icon-superscript:before { content: '\eb33'; }
.icon-table:before { content: '\eb34'; }
.icon-textheight:before { content: '\eb36'; }
.icon-textwidth:before { content: '\eb37'; }
.icon-topalignment:before { content: '\eb39'; }
.icon-type-1:before { content: '\eb3a'; }
.icon-underline:before { content: '\eb3b'; }
.icon-gif-black:before { content: '\eb3c'; }
.icon-gif-file:before { content: '\eb3d'; }
.icon-attach:before { content: '\eb3e'; }